<section id="about" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">ABOUT ME</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h1 class="display-4 fw-bold" data-aos="fade-up">I'M <span class="text-brand">Achraf Aissy</span> </h1>
                <p class="lead mt-2 mb-4" data-aos="fade-up">A Engineering student in computer science and data engineering<br/>
                From Casablanca, Morocco</p>
                <div data-aos="fade-up">
                    <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
                    <a href="#" class="link-custom">Call: (+212) 675 789501</a>
                </div>
            </div>
            <div class="col-lg-4">
                <a class="navbar-brand" href="#">
                    <!-- <span class="h3 fw-bold d-block d-lg-none">Jon Carter</span> -->
                    <img src="/assets/aaissy-profil.jpg" class="d-none d-lg-block rounded-circle" data-aos="fade-up" alt="">
                </a>
            </div>
        </div>
        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h1>My Education & Experiance</h1>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-lg-6">

                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                <div class="row gy-4">

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4">
                            <h4>Computer Science and Data Engineering</h4>
                            <p class="text-brand mb-2">ENSA Khouribga, Morocco (2021 - 2024)</p>
                        </div>
                    </div>

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4">
                            <h4>Preparatory classes</h4>
                            <p class="text-brand mb-2">ENSA Khouribga, Morocco (2019 - 2021)</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-6">

                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
                <div class="row gy-4">

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4">
                            <h4>Full Stack Developer</h4>
                            <p class="text-brand mb-2">Tsunami IT Montreal, Canada (July2022 - September2022)</p>
                            <p class="mb-0">
                                The development of a web application for project management
                            </p>
                            <ul>
                                <li>Back-end: Laravel</li>
                                <li>Front-end: Angular</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
