<!-- HOME -->
<section id="home" class="full-height px-lg-5">

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="display-4 fw-bold" data-aos="fade-up">Hi, <span class="text-brand">Welcome</span> to my Portfolio</h1>
                <div data-aos="fade-up">
                    <a href="#work" class="btn btn-brand me-3">Know More About Me</a>
                </div>
            </div>
            <div class="col-lg-5">
                <a class="navbar-brand" href="#">
                    <!-- <span class="h3 fw-bold d-block d-lg-none">Jon Carter</span> -->
                    <img src="/assets/Freelance.png" class="d-none d-lg-block " data-aos="fade-up" alt="">
                </a>
            </div>
        </div>
    </div>

</section>
