<!-- HOME -->
<section id="home" class="full-height px-lg-5">

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="display-4 fw-bold" data-aos="fade-up">I'M <span class="text-brand">Achraf Aissy</span> </h1>
                <p class="lead mt-2 mb-4" data-aos="fade-up">A Engineering student in computer science and data engineering<br/>
                From Casablanca, Morocco</p>
                <div data-aos="fade-up">
                    <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
                    <a href="#" class="link-custom">Call: (+212) 675 789501</a>
                </div>
            </div>
        </div>
    </div>

</section>
